[user]
	email = loli@yuko.moe
	name = Moeta Yuko
[color]
	ui = auto
[core]
	editor = nvim
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dianlujitao@gmail.com
	from = Jitao Lu <dianlujitao@gmail.com>
	suppresscc = self
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:moetayuko"]
	insteadOf = https://github.com/moetayuko
[alias]
	wdiff = diff --color-words
  mergetool = "!nvim -c DiffviewOpen"
	fixes = show -s --abbrev-commit --abbrev=12 --pretty=format:\"Fixes: %h (\\\"%s\\\")%n\"
[review "review.lineageos.org"]
	username = dianlujitao
[pull]
	rebase = false
; [url "https://mirrors.tuna.tsinghua.edu.cn/git/AOSP"]
; 	insteadof = https://android.googlesource.com
; [url "https://mirrors.tuna.tsinghua.edu.cn/git/lineageOS/LineageOS"]
; 	insteadof = https://github.com/LineageOS
[http]
	cookiefile = /home/dianlujitao/.gitcookies
[credential]
	helper = store
