[user]
	email = loli@yuko.moe
	name = MoetaYuko
[color]
	ui = auto
[core]
	editor = nvim
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dianlujitao@gmail.com
	from = Jitao Lu <dianlujitao@gmail.com>
	suppresscc = self
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "http://source.codeaurora.cn"]
	insteadOf = https://source.codeaurora.org
[url "git@github.com:MoetaYuko"]
	insteadOf = https://github.com/MoetaYuko
[alias]
	wdiff = diff --color-words
  mergetool = "!nvim -c DiffviewOpen"
[review "review.lineageos.org"]
	username = dianlujitao
[pull]
	rebase = false
