[submodule ".vim"]
	path = .vim
	url = https://github.com/dianlujitao/vimrc
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".zsh-custom/plugins/z.lua"]
	path = .zsh-custom/plugins/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule ".tmux-plugins/tpm"]
	path = .tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
