@import "mocha.css";

* {
  font-family: system-ui;
  font-size: 15px;
  min-height: 24px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 0;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: alpha(@surface0, 0.7);
  margin-left: 1rem;
  color: @text;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.focused {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#mode,
#custom-media,
#scratchpad,
#window,
#idle_inhibitor,
#cpu,
#memory,
#tray,
#backlight,
#custom-ddcutil,
#clock,
#battery,
#pulseaudio {
  background-color: alpha(@surface0, 0.7);
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-ddcutil,
#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#cpu {
  color: @lavender;
}

#memory {
  color: @teal;
}

#custom-media {
  color: @mauve;
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#mode {
  background-color: @overlay0;
  color: @text;
  border-radius: 1rem;
}

#window {
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#waybar.empty #window {
  background-color: transparent;
}

#scratchpad {
  border-radius: 1rem;
}

#idle_inhibitor {
  color: @text;
}

#idle_inhibitor {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#idle_inhibitor.activated {
  color: @base;
  background-color: @pink;
}
